.row-product {
  padding: 20px;
  border: thin solid black;
}

.big-product-img {
  height: 400px;
  width: 400px;
  margin: auto;
  text-align: center;
  // border: thin solid black;
  position: relative;
  box-shadow: 3px 3px 5px 0px rgba(153, 153, 153, 0.8);
  img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.all-img {
  margin: 20px 80px;
  display: flex;
  // border: thin solid black;
}

.choose-img {
  height: 100px;
  width: 100px;
  margin: auto;
  text-align: center;
  position: relative;
  box-shadow: 3px 3px 5px 0px rgba(153, 153, 153, 0.8);
  cursor: pointer;
  img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.product-large {
  border: thin solid red;
  padding: 20px;
}

.name-product-large {
  border: thin solid black;
  padding: 5px;
  font-size: 35px;
  font-weight: lighter;
}

.price-product-large {
  border: thin solid black;
  padding: 5px;
  font-size: 30px;
  font-weight: bolder;
}

.amount-product-large {
  border: thin solid black;
  padding: 5px;
  .input-number {
    height: 30px;
  }
}

.add-product-large {
  border: thin solid black;
  padding: 5px;
  button {
      width: 200px;
      height: 30px;
      font-size: 15px;
      background-color: white;
      color: #77ddff;
      border: 2px solid #77ddff;
      cursor: pointer;
      transition: all 0.3s;
  }
  :hover {
      color: white;
      background-color: #77ddff;
      border: 2px solid #77ddff;
  }  
}

// .amount-product button {
//   width: 30px;
//   height: 30px;
//   border-radius: 4px;
//   background-color: #ffffff;
//   border-bottom-left-radius: 0;
//   border-top-left-radius: 0;
//   border: 1px solid #d9d9d9;
//   border-left: transparent;
//   color: #d9d9d9;
//   transition: 1s ease;
//   opacity: 1;
//   font-size: 16px;
//   cursor: pointer;
// }

// .amount-product button :hover {
//   color: #bfbfbf;
// }

.detail-product-large {
  border: thin solid black;
  padding: 5px;
}
